.header {

    nav {
        padding: 24px;
    }

    &__logo {

        img {

        }
    }

    &__menu { // Mobile Menu

        > i {
            color: $darkBlue;
        }
    }

    &__links {

        a {
            font-size: $font-sm;
                color: $grayishBlue;

        }

    &__cta {
        font-size: $font-sm;
        color: $white;
    }
    }
}